<div>
  <header>
    <h1>Ejemplos</h1>
  </header>
</div>
<div>
  <i
    class="fa fa-search"
    aria-hidden="true"
    (click)="toggleSearchInputAnimationState()"></i>
  <!--
    Para asociar un 'trigger' de animación en un elemento HTML usamos su
    nombre precedido de '@' como atributo del elemento HTML en cuestión. Como
    valor debemos indicar el nombre del estado inicial del 'trigger' o una
    expresión que lo resuelva (enlace de atributo). No olvidemos envolver
    el atributo con corchetes.
  -->
  <input
    type="text"
    [formControl]="searchBox"
    [@searchInput]="searchInputAnimationState"
    (blur)="toggleSearchInputAnimationState()">
</div>
<div>
  <ul>
    <li *ngFor="let country of countries$ | async">
      {{ country.translations.es }}
    </li>
  </ul>
</div>
